<h1>My feeds</h1>

<hr/>

<h5><%= link_to 'New feed', new_reader_feed_path %></h5>

<table>
  <tr>
    <th>ID</th>
    <th width='200'>Modified at</th>
    <th>Name</th>
    <th>Url</th>
    <th>Guid</th>
    <th>Prefetch?</th>
    <th width='400'>&nbsp;</th>
  </tr>

<% for feed in @feeds %>
  <tr>
    <td><%= feed.id %></td>
    <td><%= "#{distance_of_time_in_words_to_now feed.modified_at} ago" if feed.modified_at %></td>
    <td><%=h feed.name %></td>
    <td><%=h feed.url %></td>
    <td><%=h feed.guid %></td>
    <td><%= feed.prefetch %></td>
    <td>
      <%= link_to 'Articles', reader_feed_articles_path(feed) %> 
      <%= link_to 'Show', reader_feed_path(feed) %> 
      <%= link_to 'Edit', edit_reader_feed_path(feed) %> 
      <%= link_to 'Destroy', reader_feed_path(feed), :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

