<p>
  <b>Name:</b>
  <%=h @feed.name %>
</p>

<p>
  <b>Modified at:</b>
  <%=h @feed.modified_at %>
</p>

<p>
  <b>Url:</b>
  <%=h @feed.url %>
</p>

<p>
  <b>Description:</b>
  <%=h @feed.description %>
</p>

<p>
  <b>Issued:</b>
  <%=h @feed.issued %>
</p>

<p>
  <b>Copyright:</b>
  <%=h @feed.copyright %>
</p>

<p>
  <b>Tagline:</b>
  <%=h @feed.tagline %>
</p>

<p>
  <b>Guid:</b>
  <%=h @feed.guid %>
</p>

<p>
  <b>Prefetch:</b>
  <%=h @feed.prefetch %>
</p>

<p>
  <b>Prefetch URL Pattern:</b>
  <%=h @feed.prefetch_url_pattern %>
</p>

<%= link_to 'Edit', edit_reader_feed_path(@feed) %> |
<%= link_to 'Back', reader_feeds_path %>
