<p><b>[<%= @article.feed.name %>] <%= @article.title %></b></p>
<p>Published at <%= @article.modified_at %></p>
<p><%= link_to @article.url, @article.url %></p>
<hr/>
<div>
  <%= @article.content %>
</div>
<hr/>
<div>
  <%= @article.prefetched %>
</div>
