<br/><br/><br/>
<h1 class='text-align:left'>[<%= @article.feed.name %>] <%= @article.title %></h1>
<hr/>
<div>
  <%= @article.content %>
  <h5>source: <%= link_to @article.title, @article.url %></h5>
</div>
<div>
  <%= @article.prefetched %>
</div>
