<p>
  <b>Title:</b>
  <%=h @article.title %>
</p>

<p>
  <b>Content:</b>
  <%= @article.content %>
</p>

<p>
  <b>Modified at:</b>
  <%=h @article.modified_at %>
</p>

<p>
  <b>Url:</b>
  <%=h @article.url %>
</p>

<p>
  <b>Feed:</b>
  <%=h @article.feed.name %>
</p>


<%= link_to 'Edit', edit_reader_feed_article_path(@feed,@article) %> |
<%= link_to 'Back', reader_feed_articles_path(@feed) %>
